body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  font-size: 16px;
}

a {
  text-decoration: none;
  @include transition(all .3s ease);
  color: $primary-color;
  &:hover {
    color: lighten($primary-color, 5%);
  }
  &:hover, &:focus {
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color
}


.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.main-header {
  position: relative;
  z-index: 30;
  .logo {
    font-family: 'Roboto Slab', serif;
    display: inline-block;
    padding: 80px 0 30px 0;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .image {
      padding-left: 20px;
      padding-right: 45px;
      height: 145px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-height: 100%;
        width: auto;
      }
    }
    .text {
      color: white;
      font-size: 28px;
      font-weight: 700;
      text-shadow: 0 3px 0 black;
      span {
        display: block;
        line-height: 36px;
      }
    }
  }
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  overflow: hidden;
  z-index: 10;
  .header-background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 0;
    z-index: 7;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    z-index: 8;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 242, 242, 0)), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, rgba(242, 242, 242, 0), #f2f2f2);
    background-image: -moz-linear-gradient(top, rgba(242, 242, 242, 0), #f2f2f2);
    background-image: -o-linear-gradient(top, rgba(242, 242, 242, 0), #f2f2f2);
    background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0), #f2f2f2);
    -webkit-transition: height 300ms;
    -moz-transition: height 300ms;
    -ms-transition: height 300ms;
    -o-transition: height 300ms;
    transition: height 300ms;
  }
}

.core {
  position: relative;
  min-height: 400px;
  z-index: 20;
}

#municipality-picker-select {
  display: none;
}

.fixed-top-bar {
  position: fixed;
  z-index: 40;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  @include transition(all .3s ease);
  .row {
    min-height: 50px;
  }
  .back-link {
    a {
      display: flex;
      color: #fff;
      align-items: center;
      line-height: 50px;
      .icon {
        font-size: 18px;
      }
      .text {
        font-size: 14px;
        font-weight: 500;
        margin-left: 10px;
      }
    }
  }
  .municipality-picker {
    display: flex;
    justify-content: center;
    .chosen-container {
      width: 200px !important;
      .chosen-drop {
        margin-top: 0;
        border-radius: 0;
        background-clip: padding-box;
        border: none;
        box-shadow: none;
        background: rgba(0, 0, 0, 0.6);
        padding: 0;
        @include transition(all .3s ease);
        .chosen-search {
          background: #fff;
          padding: 5px;
          input {
            border: none;
            color: #000;
            padding: 5px;
          }
        }
        .chosen-results {
          margin: 0;
          padding: 5px;
          li {
            color: #fff;
            padding: 8px;
            font-size: 14px;
            font-weight: 500;
            &.highlighted {
              background: rgba($primary-color, 0.6);
            }
            &.result-selected {
              background: $primary-color;
            }
            &.no-results {
              background: transparent;
            }
          }
        }
      }
      .chosen-single {
        background: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
        font-weight: 500;
        height: 50px;
        line-height: 50px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        input[type=text] {
          padding: 0;
          border: none;
        }
        span {
          margin-right: 10px;
        }
        div {
          position: static;
          width: auto;
          display: flex;
          align-items: center;
          b {
            background: url(../images/arrow.png);
            background-position: unset;
            width: 13px;
            height: 8px;
          }
        }
      }
    }
  }
  .lang-picker {
    flex: 0 0 auto;
    position: relative;
    z-index: 200;
    display: flex;
    justify-content: flex-end;
    .lang-picker-toggle {
      display: flex;
      color: #fff;
      align-items: center;
      line-height: 50px;
      cursor: pointer;
      .icon {
        font-size: 18px;
        margin-left: 10px;
      }
      .text {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
    .dropdown-menu {
      margin: 0;
      border-radius: 0;
      border: none;
      background: rgba(0, 0, 0, 0.6);
      padding: 5px;
      min-width: 0;
      width: 100px;
      @include transition(background .3s ease);
      a {
        display: block;
        line-height: 15px;
        word-wrap: break-word;
        cursor: pointer;
        color: #fff;
        padding: 8px;
        font-size: 14px;
        font-weight: 500;
        background: transparent;
        text-transform: uppercase;
        &:hover {
          background: rgba($primary-color, 0.6);
        }
      }
    }
  }
}

.nav-col {
  margin-bottom: 30px;
}

video {
  width: 100% !important;
  height: auto !important;
}

.navigation-section-wrapper {
  display: flex;
  background: rgba($primary-color, 0.3);
  align-items: center;
  .navigation {
    flex: 1 1 auto;
  }
  .search {
    flex: 0 0 auto;
    position: relative;
    z-index: 200;
    display: flex;
    justify-content: flex-end;
    form {
      width: 200px;
    }
    .search-input {
      background: transparent;
      height: 50px;
      border: none;
      width: 200px;
      padding: 10px 50px 10px 15px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      -webkit-appearance: none;
      outline: none;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;
        opacity: 1; /* Firefox */
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #fff;
      }
    }
    .search-submit {
      width: 50px;
      height: 50px;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      margin: 0;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      opacity: 0;
      color: #fff;
      border: none;
      outline: none;
      z-index: -1;
      background: #fff;
    }
    .search-icon {
      width: 50px;
      height: 50px;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      margin: 0;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      color: #fff;
    }
  }
}

.navigation {
  padding: 0 20px;
  @include transition(all .3s ease);
  > ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      display: flex;
      align-items: center;
      position: relative;
      &.active {
        &:after {
          content: "";
          top: 100%;
          left: 0;
          right: 0;
          height: 2px;
          position: absolute;
          background: #fff;
        }
      }
      ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 250px;
        background: $primary-color;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          position: relative;
          &.active {
            background: lighten($primary-color, 5%);
          }
          ul {
            top: 0;
            left: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
          }
          &:hover {
            ul {
              display: block;
            }
          }
        }
        a {
          font-size: 14px;
          font-weight: 500;
          color: #fff;
          display: block;
          padding: 15px 20px;
          &:hover {
            background: lighten($primary-color, 5%);
          }
        }
        .toggle-button {
          position: absolute;
          color: #fff;
          top: 50%;
          right: 20px;
          @include transform(translateY(-50%) rotate(-90deg));
        }
      }
      &:hover {
        > ul {
          display: block;
        }
      }
      > a {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        line-height: 60px;
        display: block;
        padding: 0 20px;
      }
      > .toggle-button {
        margin-left: -15px;
        margin-right: 10px;
        color: #fff;
      }
    }
  }
}

.m-nav {
  display: none;
}

body.fixed-header {
  .fixed-top-bar {
    background: rgba(0, 0, 0, 1);
  }
  .navigation-section {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    background: $primary-color;
    .navigation-section-wrapper {
      margin: 0 auto;
      max-width: 1340px;
      background: rgba($primary-color, 1);
    }
  }
  .fixed-top-bar .lang-picker .dropdown-menu {
    background: rgba(0, 0, 0, 1);
  }
  .fixed-top-bar .municipality-picker .chosen-container .chosen-drop {
    background: rgba(0, 0, 0, 1);
  }
}

.main-content {
  margin-bottom: 30px;
  .latest-news {
    background: #fff;
    padding: 30px;
    overflow: hidden;
    .news-header {
      position: relative;
      z-index: 1;
      span.icon {
        position: absolute;
        left: -50px;
        font-size: 180px;
        top: -50px;
        opacity: 0.05;
        z-index: 2;
        color: #000;
      }
      h2 {
        position: relative;
        z-index: 3;
        margin: 0;
        font-size: 26px;
        font-weight: 700;
        line-height: normal;
        span {
          display: inline-block;
          background: $primary-color;
          color: #fff;
          padding: 5px 10px;
        }
      }
    }
    .news-top-list {
      position: relative;
      z-index: 2;
      .news {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
      h3 {
        font-size: 30px;
        font-weight: 700;
        margin: 0;
        line-height: normal;
        a {
          color: #000;
          &:hover {
            color: $primary-color;
          }
        }
      }
      .details {
        font-size: 14px;
        font-weight: 400;
        display: flex;
        margin-bottom: 10px;
        color: #6b6b6b;
        > div {
          margin-right: 10px;
        }
      }
      .description {
        font-size: 16px;
        font-weight: 400;
        svg {
          margin-bottom: -1px;
        }
        p {
          margin: 0;
        }
      }
    }
    .news-bottom-list {
      position: relative;
      z-index: 2;
      .news {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: flex;
      }
      h4 {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        line-height: normal;
        flex: 1 1 auto;
        a {
          color: #000;
          &:hover {
            color: $primary-color;
          }
        }
      }
      .details {
        flex: 0 0 auto;
        color: #6b6b6b;
        font-size: 14px;
        font-weight: 400;
        margin-left: 15px;
      }
    }
  }
  .read-more {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 700;
  }
}

.content-section {
  background: #fff;
  margin-bottom: 30px;
  padding: 20px 30px;
}

.content-header {
  background: $primary-color;
  margin-bottom: 30px;
  padding: 20px 30px;
  .header-breadcrumb {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    padding-bottom: 10px;
    ul {
      display: flex;
      color: lighten($primary-color, 40%);
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        color: lighten($primary-color, 40%);
        &:first-child {
          &:before {
            display: none;
          }
        }
        &:before {
          display: inline-block;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          color: lighten($primary-color, 40%);
          content: "/";
        }
        a {
          color: lighten($primary-color, 40%);
        }
        &.active {
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .content-title {
    h1 {
      color: #fff;
      margin: 0;
      font-size: 36px;
    }
  }
}

.widget {
  background: #fff;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  &.widget-video {
    padding: 0;
    background: transparent;
    iframe {
      display: block;
    }
  }
  .widget-header {
    margin-bottom: 10px;
    z-index: 1;
    span.icon {
      position: absolute;
      left: -20px;
      font-size: 80px;
      top: 5px;
      opacity: 0.05;
      z-index: 2;
      color: #000;
    }
    h3 {
      position: relative;
      z-index: 3;
      margin: 0;
      font-size: 16px;
      line-height: normal;
      span {
        display: inline-block;
        background: $primary-color;
        color: #fff;
        font-weight: 700;
        padding: 5px 10px;
      }
    }
  }
  .widget-content {
    position: relative;
    z-index: 2;
    min-height: 60px;
  }
  .read-more {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 700;
  }
  &.in-color {
    background: $primary-color;
    .widget-header {
      span.icon {
        color: #fff;
        opacity: 0.1;
      }
      h3 {
        span {
          background: #fff;
          color: $primary-color;
        }
      }
    }
  }
  &.widget-list {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        line-height: normal;
        padding: 7px 0;
        a {
          font-size: 14px;
          color: #000;
          font-weight: 400;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
  &.widget-links {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        line-height: normal;
        padding: 7px 0;
        a {
          font-size: 15px;
          color: $primary-color;
          font-weight: 400;
          &:hover {
            text-decoration: underline;
            color: $primary-color;
          }
        }
      }
    }
  }
  &.widget-timer {
    .countdown-timer {
      display: flex;
      justify-content: space-around;
      padding: 10px 0;
      > div {
        width: 70px;
        height: 70px;
        border: 1px solid #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .wrap-count {
          text-align: center;
          color: #fff;
          .num {
            font-size: 32px;
            font-weight: bold;
            line-height: 34px;
          }
          .text {
            font-size: 13px;
            line-height: 10px;
          }
        }
      }
    }
  }
  &.widget-voter-list {
    padding: 0;
    background: transparent;
    .widget-header {
      display: none;
    }
    a {
      display: block;
      &:hover {
        text-decoration: underline;
      }
      .text {
        background: #fff;
        color: $primary-color;
        font-weight: 700;
        padding: 10px 20px;
        font-size: 14px;
      }
      .image {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &.widget-newsletter {
    .widget-header {
      span.icon {
        color: #fff;
        opacity: 0.1;
        bottom: -70px;
        top: auto;
        left: 70px;
        font-size: 131px;
        transform: rotate(-15deg);
      }
    }
    .newslatter {
      color: #fff;
      .description {
        margin-top: 5px;
        margin-bottom: 20px;
      }
      form {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 60px;
      }
      .newsletter-input {
        background: #fff;
        height: 40px;
        border: none;
        flex: 1 1 auto;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 500;
        color: #000;
        -webkit-appearance: none;
        outline: none;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #000;
          opacity: 1; /* Firefox */
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #000;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
          color: #000;
        }
      }
      .newsletter-submit {
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        margin: 0;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        opacity: 0;
        color: #fff;
        border: none;
        outline: none;
        z-index: -1;
        background: #fff;
      }
      .newsletter-icon {
        flex: 0 0 auto;
        width: 40px;
        height: 40px;
        display: block;
        padding: 0;
        margin: 0;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background: #000;
        &:hover {
          background: lighten(#000, 20%);
        }
      }
    }
  }
}

.main-footer {
  background: #dfdfdf;
  padding: 50px 0;
  color: #000;
  .footer-widget {
    &.info {
      .icons {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        > div {
          margin-right: 5px;
          a {
            display: block;
            background: $primary-color;
            height: 30px;
            width: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            border-radius: 15px;
            font-size: 15px;
            &:hover {
              background: lighten($primary-color, 5%);
            }
          }
        }
      }
    }
    &.links {
      h4 {
        position: relative;
        z-index: 3;
        margin: 0;
        font-size: 20px;
        line-height: normal;
        margin-bottom: 15px;
        a {
          color: #000;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin-bottom: 10px;
          line-height: 18px;
          a {
            color: #000;
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.copyright {
  padding: 20px 0;
  .text {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }
}
